#root {
  width: 100vw;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


* {
  margin: 0 auto;
}

header {
  background-color: #white;
  color: #4a3900;

  padding: 15px;
  gap: 30px;
  display: flex;
  border-radius: 10px;
}

main {
  background-color: white;
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  color: #4a3900;
  margin-top: 20px;
}